{% extends "base.html" %}

{% block content %}
<h1>Selected: </h1>

<div class="flex flex-wrap">

    <div class="flex flex-wrap">

<div class="w-33 pa3">
    <h2>{{ albums.title }}</h2>

    {% if albums.artist_list %}
    <div class="flex">
        <div class="pr2"></div>
        <div>{{ albums.artist_list }}</div>
    </div>
{% endif %}

{% if albums.created_at %}
    <div class="flex">
        <div class="pr2"></div>
        <div>{{ albums.created_at }}</div>
    </div>
{% endif %}

    
<br>    
<p><a href="{% url 'list_albums' %}"> Back To View Albums</a></p>
<br>
<a href="{% url 'edit_album' pk=albums.pk %}">Edit Album</a>
<br>    
<a href="{% url 'delete_album' pk=albums.pk %}">Delete Album</a>

    </div>
</div>  

{% endblock %}