{% extends "base.html" %}

{% block content %}
<h1>Selected: </h1>


<div class="flex flex-wrap">

    {% if album.title %}
        <div class="flex">
            <h2>{{ album.title }}</h2>
        </div>
    {% endif %}

    {% if album.artist %}
        <div class="flex">
            <div class="pr2"></div>
            <div>{{ album.artist }}</div>
        </div>
    {% endif %}

    {% if album.year %}
        <div class="flex">
            <div class="pr2"></div>
            <div>{{ album.year }}</div>
        </div>
    {% endif %}

    
<br>    
<p><a href="{% url 'list_albums' %}"> Back To View Albums</a></p>
<br>
<p><a href="{% url 'add_album' %}">Add Album</a></p>

    </div>
</div>  
{% endblock %}