{% extends "base.html" %}

{% block content %}
<h1>Edit Album</h1>

<p><a href="{% url 'list_albums' %}">View All Albums</a></p>

<div class="flex flex-wrap">
    {% for album in album %}
        <div class="w-33 pa3">
            <h2><a href="{% url 'album_detail' pk=albums.pk %}">{{ album.title }}</a></h2>

    {% if album.artist_list %}
        <div class="flex">
            <div class="pr2"></div>
            <div>{{ album.artist_list }}</div>
        </div>
    {% endif %}

    {% if album.created_at %}
        <div class="flex">
            <div class="pr2"></div>
            <div>{{ album.created_at }}</div>
        </div>
    {% endif %}


<div>
  <form action="{% url 'edit_album' pk=albums.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <button type="submit">Edit Album</button>
    </div>
  </form>
</div>
{% endfor %}
{% endblock %}